@import "~/styles/_variables";

.error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: rem(20);
  .content {
    margin-block: auto;
    margin-inline: rem(2);
    border-radius: rem(12);
    background-color: $blue-light;
    padding: rem(40);
    .title {
      display: block;
      font-size: rem(16);
      line-height: rem(22);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 700;
    }
    .description {
      color: $gray-6;
      line-height: rem(20);
    }
    .error-badge {
      display: flex;
      align-items: center;
      margin-inline: auto;
      margin-block: rem(5);
      padding: rem(8);
      gap: 5;
      border-radius: rem(20);
      background-color: $red-base;
      width: max-content;
      font-weight: 700;
      margin-block: rem(20);
    }
  }
}
.ant-btn-default {
  background-color: $blue-base !important;
  border-color: $cyan-base;
  color: $cyan-base;
  &:hover {
    box-shadow: 0 0 rem(8) rgba($color: $cyan-base, $alpha: 0.2);
  }
}
