body {
  background-color: $blue-dark;
  color: $gray-1;
  height: rem(600) !important;
  font-family: $font-primary;
  margin: 0 auto;
  overflow: hidden;
  width: rem(360) !important;

  #__plasmo {
    height: 100%;
  }

  &::-webkit-scrollbar {
    background-color: $blue-base;
    width: rem(8);
  }

  &::-webkit-scrollbar-corner {
    background-color: $blue-base;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-light;
  }
}

.ant-btn {
  font-size: rem(16);
  font-weight: 700;
  height: rem(44);
}

.ant-btn-default {
  background-color: $blue-dark !important;
  border-color: $cyan-base;
  color: $cyan-base;

  &:hover {
    box-shadow: 0 0 rem(8) rgba($color: $cyan-base, $alpha: 0.2);
  }
}

.ant-btn-primary {
  border: none;

  &:disabled {
    background-color: rgba($color: $gray-1, $alpha: 0.1);
    color: $gray-6;
    cursor: default;
    opacity: 0.6;
  }
}

.ant-input {
  background-color: $blue-base !important;
  border: none !important;
  box-shadow: none !important;
  line-height: rem(48);
}

.ant-form {
  .ant-btn {
    display: none;
  }
}

.ant-checkbox-group {
  border-radius: rem(12);
  max-width: 100%;
  overflow: hidden;

  .ant-checkbox-wrapper {
    background-color: $blue-base;
    line-height: rem(24);
    padding: rem(16) rem(20);
    position: relative;
    transition: background-color 0.3s;
    width: 100%;

    .ant-checkbox-input {
      height: rem(20);
      width: rem(20);
    }

    .ant-checkbox-inner {
      background-color: transparent;
      border-color: $blue-light;
      border-width: rem(2);
      height: rem(20);
      width: rem(20);
    }

    .ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: $cyan-base;
        border-color: $cyan-base;
      }
    }

    + .ant-checkbox-wrapper {
      &::before {
        background-color: $blue-light;
        content: "";
        height: rem(1);
        left: rem(20);
        position: absolute;
        right: rem(20);
        top: 0;
        transition: background-color 0.3s;
      }
    }
  }
}
