@import "~/styles/_variables";
@import "~/styles/_menlo";
@import "~/styles/_montserrat";
@import "~/styles/_normalize";

@import "~/components/middle-truncate";
@import "~/components/vulti-loading";
@import "~/components/vulti-error";

body {
  background-color: $blue-dark;
  color: $gray-1;
  min-height: rem(600) !important;
  font-family: $font-primary;
  margin: 0 auto;
  overflow: hidden;
  width: rem(360) !important;

  #__plasmo {
    height: 100%;
    position: relative;
    min-height: rem(600) !important;
    > .vulti-loading {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ant-btn {
  font-size: rem(16);
  font-weight: 700;
  height: rem(44);
}

.ant-btn-default {
  background-color: $blue-dark !important;
  border-color: $cyan-base;
  color: $cyan-base;

  &:hover {
    box-shadow: 0 0 rem(8) rgba($color: $cyan-base, $alpha: 0.2);
  }
}

.ant-btn-primary {
  border: none;

  &:disabled {
    background-color: rgba($color: $gray-1, $alpha: 0.1);
    color: $gray-6;
    cursor: default;
    opacity: 0.6;
  }
}

.ant-input {
  background-color: $blue-base !important;
  border: none !important;
  box-shadow: none !important;
  line-height: rem(48);
}

.ant-form {
  .ant-btn {
    display: none;
  }
}
.ant-select {
  width: 100%;
  height: rem(55);
  .ant-select-selector {
    background-color: $blue-base !important;
    border-color: transparent;
  }
}
.ant-select-dropdown {
  background-color: $blue-base !important;
}

.ant-select-selection-item {
  line-height: rem(20) !important;
}

.ant-select-item-option-selected {
  background-color: $blue-light !important;
}

.ant-checkbox-group {
  border-radius: rem(12);
  display: flex;
  overflow: hidden;

  .ant-checkbox-wrapper {
    background-color: $blue-base;
    line-height: rem(24);
    padding: rem(16) rem(20);
    position: relative;
    transition: background-color 0.3s;
    width: 100%;

    .ant-checkbox-input {
      height: rem(20);
      width: rem(20);
    }

    .ant-checkbox-inner {
      background-color: transparent;
      border-color: $blue-light;
      border-width: rem(2);
      height: rem(20);
      width: rem(20);
    }

    .ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: $cyan-base;
        border-color: $cyan-base;
      }
    }

    + .ant-checkbox-wrapper {
      &::before {
        background-color: $blue-light;
        content: "";
        height: rem(1);
        left: rem(20);
        position: absolute;
        right: rem(20);
        top: 0;
        transition: background-color 0.3s;
      }
    }
  }
}

.ant-modal {
  .ant-modal-content {
    background-color: $blue-dark;
  }
}

.ant-spin {
  &.center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.ant-message {
  .ant-message-notice-wrapper {
    .ant-message-notice-content {
      background-color: $blue-base;
    }
  }
}
.ant-tooltip-inner {
  color: white !important;
  background-color: $blue-light !important;
}
.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: $blue-light !important;
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  position: relative;

  > .header {
    background-color: $blue-dark;
    border-bottom: solid rem(1) rgba($color: $gray-1, $alpha: 0.1);
    height: rem(56);
    position: relative;

    .heading {
      font-size: rem(16);
      font-weight: 700;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

    .logo {
      height: rem(32);
      left: rem(22);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(32);
    }

    .icon {
      background-color: transparent;
      border-radius: rem(12);
      cursor: pointer;
      fill: $gray-1;
      height: rem(32);
      padding: rem(4);
      position: absolute;
      top: 50%;
      transition: background-color 0.3s;
      transform: translateY(-50%);
      width: rem(32);

      &-left {
        left: rem(18);
      }

      &-right {
        right: rem(18);
      }

      &:hover {
        background-color: $blue-light;
      }
    }
  }

  > .content {
    flex: 1;
    overflow-x: hidden;
    padding: rem(24);
    position: relative;

    .divider {
      color: $gray-6;
      display: block;
      font-size: rem(12);
      font-weight: 600;
      line-height: rem(22);
      margin-bottom: rem(20);
    }

    .list {
      border-radius: rem(12);
      overflow: hidden;

      .list-item {
        background-color: $blue-base;
        color: $gray-1;
        display: block;
        line-height: rem(24);
        padding: rem(16) rem(20);
        position: relative;
        transition: background-color 0.3s;

        .action {
          fill: $gray-1;
          height: rem(16);
          position: absolute;
          right: rem(20);
          top: 50%;
          transform: translateY(-50%);
          width: rem(16);
        }

        .icon {
          fill: $gray-1;
          height: rem(24);
          left: rem(20);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: rem(24);
        }

        .extra {
          color: $gray-6;
          line-height: rem(24);
          position: absolute;
          right: rem(20);
          top: 50%;
          transform: translateY(-50%);
        }

        .label {
          color: $gray-1;
          font-weight: 500;
          line-height: rem(24);
        }

        &.success {
          color: $cyan-base;

          .action {
            fill: $cyan-base;
          }

          .extra {
            color: $cyan-base;
          }

          .icon {
            fill: $cyan-base;
          }

          .label {
            color: $cyan-base;
          }
        }

        &.warning {
          color: $yellow-base;

          .action {
            fill: $yellow-base;
          }

          .extra {
            color: $yellow-base;
          }

          .icon {
            fill: $yellow-base;
          }

          .label {
            color: $yellow-base;
          }
        }

        + .list-item {
          &::before {
            background-color: $blue-light;
            content: "";
            height: rem(1);
            left: rem(20);
            position: absolute;
            right: rem(20);
            top: 0;
            transition: background-color 0.3s;
          }
        }
      }

      &.list-action {
        .list-item {
          cursor: pointer;

          &:hover {
            background-color: $blue-light;

            &::before {
              background-color: transparent;
            }

            + .list-item {
              &::before {
                background-color: transparent;
              }
            }
          }
        }
      }

      &.list-arrow {
        .list-item {
          padding-right: rem(40);

          .extra {
            right: rem(40);
          }
        }
      }

      &.list-icon {
        .list-item {
          padding-left: rem(52);
        }
      }
    }

    * {
      + .divider {
        margin-top: rem(12);
      }
    }

    &::-webkit-scrollbar {
      background-color: $blue-base;
      width: rem(8);
    }

    &::-webkit-scrollbar-corner {
      background-color: $blue-base;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue-light;
    }
  }

  > .footer {
    background-color: $blue-dark;
    bottom: 0;
    display: flex;
    gap: rem(8);
    left: 0;
    padding: rem(24);
    position: sticky;
    right: 0;
    z-index: 1;
  }
}
@media (max-width: 300px) {
  .footer {
    flex-direction: column !important;
    width: 100%;
  }
  body {
    min-width: rem(360) !important;
    width: 100% !important;
  }
}

.monospace-text {
  font-family: monospace;
  font-size: rem(14);
}

.scrollable-x {
  overflow-x: auto;
  &::-webkit-scrollbar {
    background-color: $blue-base;
    height: rem(8);
  }

  &::-webkit-scrollbar-corner {
    background-color: $blue-base;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-light;
  }
}
